.headerBox{
  width: 100%;
  display: flex;
  align-items: center;
  .titilebox{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
  }
  .wyytitle{
    width: 48px;
    height: 48px;
    background: url('../assets/image/网易云音乐.png');
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .inputHead{
    margin-left: 20px;
  }
}

.left_header{
  min-width: 15vw;
}