main {
  .main_ul{
    margin-top: 20px;
    margin-bottom: 20px;
    li {
      padding: 10px 10px;
      font-size: 20px;
      margin-bottom: 10px;
    }
    li:hover {
      cursor: pointer;
      background:linear-gradient(to right, #e92758 0%, #ff9569 100%);
    }
  }
}

.active {
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}